In [ ]:
                                              #LIST
#find the second largest element from the list by using function
num=[3,1,4,3,5]
def second_largest(num):
  num.sort()
  print(num[-2])
second_largest(num)

4

In [ ]:
#
def square (num):
  square_list=[]
  for i in num:
    if i%2==0:
      square_list.append(i**2)
  print(square_list)

In [ ]:
#find the comulative sum using function
a=[1,2,3,4,5]
def cumulative_sum(a):
 sum=0
 total=[]
 for i in a:
  sum=sum+i
  total.append(sum)
 print(total)

In [ ]:
print(cumulative_sum(a))

[1, 3, 6, 10, 15]
None

In [ ]:
#find the frequency of element of the dictionary
def frequency(a):
  freq={}
  for i in a:
    if i in freq:
      freq[i]=+1
    else:
      freq[i]=1
  print(frequency)
frequency([1,1,2,2,2,3,4,4,3,5,6,5])

<function frequency at 0x7f85aee14ee0>

In [ ]:
#find the square of even number using list comphression without using function
a=[2,4,6,8,10]
lst=[i*i for i in range(1,11) if i%2==0 ]
print(lst)

[4, 16, 36, 64, 100]

In [ ]:
#
n=[n for n in range(1,25) if n%5==0]
print(n)

[5, 10, 15, 20]

In [ ]:
#print the table 7
a=[]
for i in range(1,11):
  b=i*7
  a.append(b)
print(a)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
a=['a','b','c','d','e']
if 'c' in a:
  print("is present")
else:
  print("not present")

is present

In [ ]:
#Take a list find even or odd no using list comphression
a=[ a for a in range(1,21) if a%2==0]
print(a)
b=[ b for b in range(1,21) if b%2!=0]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#find the index position given no
a=(1,2,3,4,5,6)
b=a.index(5)
print(b)

4

In [ ]:
#find the index position given no using function
a=(1,2,3,4,5,6,7)
def s(a):
  b=a.index(5)
print(b)

4

In [ ]:
print(a.index(4))

3

In [ ]:
s=(1,2,3,4,5,6,7,8)
print(s.index(8))

7

In [ ]:
#create a function largest among three number
def largest(a,b,c):
  if a>b and a>c:
    print("a is greater")
  elif b>a and b>c:
    print("b is greater")
  else:
    print("c is greater")
largest(22,33,21)

b is greater

In [ ]:
#calling a function
largest(786,92123,10500)

b is greater

In [ ]:
#create function to find out square root of give number
a=int(input("enter a number"))
def square_root(a):
  print(a**0.5)
square_root(a)

enter a number4
2.0

In [ ]:
#write a program that takes input even or odd
a=int(input("enter a number"))
def number(a):
  if a%2==0:
    print("even")
  else:
    print("odd")
number(a)

enter a number2
even

In [ ]:
#write a function check palindrome or not
def palindrome(a):
  if a==a[::-1]:
    print("palindrome")
  else:
    print("not palindrome")
palindrome("eat")

not palindrome

In [ ]:
#write a program to calculate area of circle using function
def area_of_circle(pi,r):
  area=3.14*radius**2
  print(area)

In [ ]:
print(area_of_circle(7))

153.86
None

In [ ]:
                                        #SET#
#create a set and store a animal
s={"dog","elephant","monkey","cat","lion"}
s.add("tiger")
print(s)

{'tiger', 'monkey', 'lion', 'dog', 'elephant', 'cat'}

In [ ]:
#update a set
a={"dog","elephant","monkey","cat","lion"}
b={"tiger","horse"}
a.update(b)
print(a)

{'tiger', 'monkey', 'lion', 'dog', 'elephant', 'cat', 'horse'}

In [ ]:
#1Write a Python program to create a set and add multiple items to it.
a={"snehal","neha","pranjal"}
a.add("kiran")
a.add("kirti")
a.add("shrauu")
a.add("sweety")
print(a)

{'neha', 'kiran', 'kirti', 'snehal', 'shrauu', 'sweety', 'pranjal'}

In [ ]:
#2Given a set {1, 2, 3, 4, 5}, write a Python program to add an element 6 to this set.
set={1,2,3,4,5}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#3Write a Python program to remove an element 2 from the set {1, 2, 3, 4, 5}.
a={1,2,3,4,5}
a.remove(2)
print(a)

{1, 3, 4, 5}

In [ ]:
#4How can you find the union of two sets {1, 2, 3} and {3, 4, 5}?
a={1,2,3}
b={3,4,5}
x=a.union(b)
print(x)

{1, 2, 3, 4, 5}

In [ ]:
#5Write a Python program to find the intersection of sets {10, 20, 30, 40} and {30, 40, 50, 60}.
a={10,20,30,40}
b={30,40,50,60}
x=a.intersection(b)
print(x)

{40, 30}

In [ ]:
#6Given two sets {1, 2, 3} and {3, 4, 5}, write a Python program to find their difference.
a={1,2,3}
b={3,4,5}
x=a.difference(b)
print(x)

{1, 2}

In [ ]:
#7Write a Python program to check if {1, 2} is a subset of {1, 2, 3, 4}.
a={1,2}
b={1,2,3,4}
x=a.issubset(b)
print(x)

True

In [ ]:
#8How can you clear all elements from a set?
a={1,2,3,4,5,6,7,8,9}
a.clear()
print(a)

set()

In [ ]:
#9Write a Python program to find the length of a set {10, 20, 30, 40, 50}.
a={10,20,30,40,50}
x=(len(a))
print(x)

5

In [ ]:
#10 Create two sets {1, 2, 3} and {4, 5, 6} and check if they are disjoint sets.
a={1,2,3}
b={4,5,6}
x=a.isdisjoint(b)
print(x)

True

In [ ]:
#11.Write a program to find the most common element in a list using sets.
# Example: For the list [2, 3, 2, 5, 3, 3, 2], the output should be 2 or 3 (both appear 3 times).
def most(lst):
    unique_elements= set(lst)
    max_count=0
    most_common=[]
    for i in unique_elements:
      count=lst.count(i)
      if count>max_count:
        max_count=count
        most_common=[i]
      elif count==max_count:
             max_count=count
             most_common.append(i)
    print(most_common)

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6]

duplicate=[]
for i in x:
  if x.count(i)==2:
    duplicate.append(i)
print(set(duplicate))

{1, 2, 3, 4, 5, 6}

In [ ]:
#Area of rectangle
l=2
b=4
area=l*b
print(area)

8

In [ ]:
#Perimeter of ractangle
l=2
b=4
perimeter=2*(l+b)
print(perimeter)

12

In [ ]:
#Area of circle
r=4
area=3.14*r
print(area)

12.56

In [ ]:
#Area of triangle
b=4
h=2
area=0.5*b*h
print(area)

4.0

In [ ]:
#perimeter of triangle
a=2
b=4
c=6
perimeter=a+b+c
print(perimeter)

12

In [ ]:
#Area of square
s=4
area=s*s
print(area)

16

In [ ]:
#perimeter of square
s=5
perimeter=4*s
print(perimeter)

20

In [ ]:
#Write a program Area of triangle using function
def area_of_triangle(b,h):
  area=0.5*b*h
  return area
b=4
h=2
area=area_of_triangle(b,h)
print(area)

4.0

In [ ]:
# write program prime number
a=int(input("enter a number:"))
for i in range(2,a):
  if a%i==0:
    print("not prime")
    break
else:
  print("prime")

enter a number:3
prime

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
prime=[]
not_prime=[]
for i in a:
  for j in range(2,i):
   if i%j==0:
     not_prime.append(i)
     break
   else:
     prime.append(i)
print("not_prime:",not_prime)
print("prime:",prime)

not_prime: [4, 6, 8, 9, 10, 12, 14, 15]
prime: [3, 5, 5, 5, 7, 7, 7, 7, 7, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15]

In [ ]:
a=[1,2,3,33,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20]
even=[]
odd=[]
for i in a:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("even no:",even)
print("odd no:",odd)

even no: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd no: [1, 3, 33, 5, 7, 9, 13, 15, 17, 19]

In [ ]:
# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    return celsius

# Input: temperature in Fahrenheit
fahrenheit = float(input("Enter the temperature in Fahrenheit: "))

# Convert to Celsius
celsius = fahrenheit_to_celsius(fahrenheit)

# Output the result
print(f"{fahrenheit}째F is equal to {celsius:.2f}째C")

Enter the temperature in Fahrenheit: 10
10.0째F is equal to -12.22째C

In [ ]:
# Function to convert celsius to fahrenheite
def celsius_to_fahrenheite(celsius):
  fahrenheite=(celsius*5/9)-32
  return fahrenheite
celsius=float(input("enter temprature in to celsius"))
fahrenheite=celsius_to_fahrenheite(celsius)
print(f"{celsius}celsius is equal to {fahrenheite}fahrenheite")

enter temprature in to celsius10
10.0celsius is equal to -26.444444444444443fahrenheite

In [ ]:
#1.Print the following pattern
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#2.Write a program to print the following pattern using nested loops
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#3. Print a pattern that mirrors a right-angled triangle (e.g., with spaces on the left)
for i in range(1,6):
  for j in range(1,i,+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
#4. Write a program to print a pyramid pattern of stars
for i in range(1,5):
  for j in range(1,i,+1):
    print("*",end=" ")
  print()

*
* *
* * *

In [ ]:
#5. Create a diamond shape pattern using *
def print_diamond(n):
  for i in range(n):
    for j in range(n- i -1):p;
      print(" " , end="")
    for j in range(2 * i + 1):
      print("*", end="")
    print()

  for i in range(n - 2, -1, -1):
    for j in range(n - i - 1):
      print(" ", end="")
    for j in range(2 * i + 1):
      print("*",end="")
    print()

n= 5
print_diamond(n)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#6. Write a program to print numbers from 1 to 10 but skip printing 5 using continue.
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#7. Create a program that prints numbers from 1 to 10 but stops if it encounters a number divisible by 4 using break.
for i in range(1,11):
  if i % 4 == 0:
    break
  print(i)

1
2
3

In [ ]:
#8.Write a program that takes user input continuously until the user enters exit using a while loop and break statement.
while True:
  a=input("enter a number:")
  if a== "exit":
    break
  print(a)

enter a number:6
6
enter a number:hello
hello
enter a number:4
4
enter a number:exit

In [ ]:
#9. Using a for loop, print all even numbers between 1 and 20, but stop if the number is greater than 12 using break.
for i in range(1,21):
  if i>12:
    break
  if i%2==0:
    print(i)

2
4
6
8
10
12

In [ ]:
#10Write a program that prompts the user for numbers until they enter a negative number, then prints the sum of all entered positive numbers. Use continue to skip negative numbers in the summation.
a=0
while True:
  b=int(input("enter a number:"))
  if b<0:
    break
  a+=b
print(a)

enter a number:22
enter a number:34
enter a number:21
enter a number:-34
77

In [ ]:
#11. Write a program for a simple voting system. Allow the user to vote for Candidate A, Candidate B, or Candidate C. Display the winner based on the user's choice.
candidate_a = 0
candidate_b = 0
candidate_c = 0

print("Simple Voting System")
print("Vote for your favorite candidate:")
print("Enter 'A' for Candidate A, 'B' for Candidate B, 'C' for Candidate C")
print("Enter 'end' to finish voting and see the results.\n")

while True:
    # Prompt the user for a vote
    candidate = input("Cast your vote (A, B, C, or 'end' to finish): ").strip().upper()

    if candidate == 'END':
        break
    elif candidate == 'A':
        candidate_a += 1
    elif candidate == 'B':
        candidate_b += 1
    elif candidate == 'C':
        candidate_c += 1
    else:
        print("Invalid input. Please enter A, B, C, or 'end'.")

# Display the results
print("\nVoting Results:")
print(f"Candidate A: {candidate_a} votes")
print(f"Candidate B: {candidate_b} votes")
print(f"Candidate C: {candidate_c} votes")

# Determine the winner
if candidate_a > candidate_b and candidate_a > candidate_c:
    print("Winner: Candidate A")
elif candidate_b > candidate_a and candidate_b > candidate_c:
    print("Winner: Candidate B")
elif candidate_c > candidate_a and candidate_c > candidate_b:
    print("Winner: Candidate C")
else:
    print("It's a tie!")

Simple Voting System
Vote for your favorite candidate:
Enter 'A' for Candidate A, 'B' for Candidate B, 'C' for Candidate C
Enter 'end' to finish voting and see the results.

Cast your vote (A, B, C, or 'end' to finish): A
Cast your vote (A, B, C, or 'end' to finish): end

Voting Results:
Candidate A: 1 votes
Candidate B: 0 votes
Candidate C: 0 votes
Winner: Candidate A

In [ ]:
#12. Extend the voting system program to accept multiple votes and count how many votes each candidate received. Stop accepting votes when the user types stop.
while True:
  a=input("enter a number:")
  if a=="stop":
    break
  print(a)

enter a number:4
4
enter a number:56
56
enter a number:stop

In [ ]:
#13. Write a Python program to check if the user's vote is valid (either A, B, or C). If not, ask for input again using a while loop.
while True:
  vote=input("Enter your vote(A,B,or C):").upper()
  if vote in ("A" or "B" or "C"):
    print("valid vote")
    break
  else:
    print("invalid vote.Please enter A,B or C")

Enter your vote(A,B,or C):A
valid vote

In [ ]:
#14 Modify the election voting program to handle case sensitivity, so votes like a, A, b, B are treated the same.
# Sample dictionary to count votes for each candidate
votes = {"a": 0, "b": 0}

def cast_vote(vote):
    vote = vote.lower()
    if vote in votes:
        votes[vote] += 1
        print(f"Vote cast for {vote.upper()}")
    else:
        print("Invalid vote.")


def display_results():
    for candidate, count in votes.items():
        print(f"Candidate {candidate.upper()}: {count} votes")

# Example usage
cast_vote("A")  # Case-insensitive
cast_vote("b")
cast_vote("B")
cast_vote("a")

display_results()

Vote cast for A
Vote cast for B
Vote cast for B
Vote cast for A
Candidate A: 2 votes
Candidate B: 2 votes

In [ ]:
#15Write a voting system program that announces a winner only if there are more than 5 votes, otherwise, it displays "Not enough votes"
def voting_system():
    votes = {}
    print("Voting System")
    print("Type 'stop' to end voting.\n")

    while True:
        candidate = input("Enter the candidate's name (or type 'stop' to finish): ").strip()

        if candidate.lower() == "stop":
            break

        if candidate in votes:
            votes[candidate] += 1
        else:
            votes[candidate] = 1

    total_votes = sum(votes.values())

    if total_votes > 5:
      print("\nVoting Results:")
      for candidate, count in votes.items():
            print(f"{candidate}: {count} votes")

      winner = max(votes, key=votes.get)
      print(f"\nWinner: {winner}")
    else:
        print("Not enough votes to determine a winner.")

# Run the voting system
voting_system()

Voting System
Type 'stop' to end voting.

In [ ]:
#16. Write a program that accepts a number from the user and prints if it's prime or not. Use break if you find a factor other than 1 and the number itself.
def is_prime(number):
  if number <= 1:
    return False #it's not prime

  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
      break       # Exit

  return True  # it's prime
number = int(input("Enter a number: "))

# Check if the number is prime and print the result
if is_prime(number):
  print(f"{number} is a prime number.")
else:
  print(f"{number} is not a prime number.")

In [1]:
#17 Create a program that uses a for loop to count the number of vowels in a given string. Use continue to skip consonants.
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in input_string:
        if char not in vowels:
            continue  # Skip consonants and other characters
        count += 1  # Count vowels

    return count

# Example usage
text = input("Enter a string: ")
print("Number of vowels:", count_vowels(text))

Enter a string: a
Number of vowels: 1

In [2]:
#18 Write a program that accepts a list of numbers and prints only the numbers greater than 10 using a loop with continue.

numbers = [3, 12, 7, 15, 8, 23, 4]
for num in numbers:
    if num <= 10:
        continue
    print(num)

12
15
23

In [4]:
#19 Create a guessing game where the user has to guess a random number between 1 and 20. Allow the user up to 5 attempts, and use break to exit the loop if they guess correctly.
import random
random_number = random.randint(1, 20)
attempts = 5

print("Welcome to the Guessing Game!")
print("I'm thinking of a number between 1 and 20. You have 5 attempts to guess it.")

for attempt in range(1, attempts + 1):
    guess = int(input(f"Attempt {attempt}: Enter your guess: "))
    if guess == random_number:
        print("Congratulations! You guessed the correct number!")
        break
    elif guess < random_number:
        print("Too low! Try again.")
    else:
        print("Too high! Try again.")
    if attempt == attempts:
        print(f"Sorry, you've used all your attempts. The correct number was {random_number}.")

Welcome to the Guessing Game!
I'm thinking of a number between 1 and 20. You have 5 attempts to guess it.
Too high! Try again.
Attempt 2: Enter your guess:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#20 Write a Python program to simulate a basic ATM system where users can check balance, deposit money, and withdraw money. Use a loop to keep asking for an action until the user
class ATM:
    def __init__(self, balance=0):
        self.balance = balance

    def check_balance(self):
        print(f"Your current balance is: ${self.balance:.2f}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"${amount:.2f} deposited successfully.")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient balance.")
        elif amount <= 0:
            print("Invalid withdrawal amount.")
        else:
          self.balance -= amount
        print(f"${amount:.2f} withdrawn successfully.")

    def start(self):
        while True:
            print("\n--- ATM Menu ---")
            print("1. Check Balance")
            print("2. Deposit Money")
            print("3. Withdraw Money")
            print("4. Exit")

            choice = input("Choose an option (1-4): ")

            if choice == "1":
                self.check_balance()
            elif choice == "2":
                amount = float(input("Enter amount to deposit: $"))
                self.deposit(amount)
            elif choice == "3":
                amount = float(input("Enter amount to withdraw: $"))
                self.withdraw(amount)
            elif choice == "4":
                print("Thank you for using the ATM. Goodbye!")
                break
            else:
                print("Invalid option. Please try again.")


atm = ATM()
atm.start()

In [ ]:
#1 Write a program to print "Hello, Python!".
print("Hello,Python!")

Hello,Python!

In [6]:
#2 Create a program that takes a user's name as input and prints a personalized greeting.
name=input("enter your name:")
print("welcome",name)

enter your name:snehal
welcome snehal

In [7]:
#3 Write a program to check if a given number is even or odd.
a=int(input("enter a number:"))
if a%2==0:
    print(a,"is even")
else:
   print(a,"is odd")

enter a number:4
4 is even

In [8]:
#3 Write a program to check if a given number is even or odd.
a=int(input("enter a number:"))
if a%2==0:
    print(a,"is even")
else:
   print(a,"is odd")

enter a number:4
4 is even

In [9]:
 #4 Create a program to find the sum of numbers from 1 to 10 using a for loop
sum=0
for i in range(1,11):
  sum+=i

print(sum)

55

In [ ]:
#5 Write a while loop that prints numbers from 1 to 5.
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#6 Write a program that takes a number and prints its multiplication table using a for loop
a=int(input ("enter a number:"))
for i in range(1,11):
  print(a*i)

enter a number:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#7 Create a program to find the factorial of a number using a while loop.
a=int(input("enter the number:"))
fact=1
while a>0:
  fact=fact*a
  a-=1
print(fact)

enter the number:4
24

In [ ]:
 #8 Write a program to calculate the area of a circle using a function
def area(r):
  return 3.14*r*r
print(area(5))

78.5

In [ ]:
 #9 Write a lambda function to multiply two numbers.
 a=lambda x,y:x*y
 print(a(4,2))

8

In [ ]:
#10 Create a list of integers and find the largest and smallest numbers in the list.
a=[1,23,43,56,43,18,92,11,22]
print("max",max(a))
print("min",min(a))

max 92
min 1

In [ ]:
#11 . Write a program to count the number of even and odd numbers in a list
a=[1,2,3,4,5,6,7,8,9,10,13,14,15]
even=[]
odd=[]
for i in a:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("even",even)
print("odd",odd)

even [2, 4, 6, 8, 10, 14]
odd [1, 3, 5, 7, 9, 13, 15]

In [ ]:
#12. Create a program to check if an element exists in a tuple
t1=(1,2,3,4,5,6)
if 3 in t1:
  print("element exist")
else:
  print("element does not exist")

element exist

In [ ]:
#13 Write a program to add two tuples
t1=('snehal','kiran','rupali','sakshi')
t2=('apple','babana','chiku')
t3=t1+t2
print(t3)

('snehal', 'kiran', 'rupali', 'sakshi', 'apple', 'babana', 'chiku')

In [ ]:
#14 Create a dictionary that stores student names as keys and their marks as values.
student={
    "snehal":89,
    "kiran":98,
    "gita":67,
    "rupali":78
}
print(student)

{'snehal': 89, 'kiran': 98, 'gita': 67, 'rupali': 78}

In [ ]:
#15Write a program to sort a list of numbers in ascending order
s=[1,32,45,67,54,32,12,343]
s.sort()
print(s)

[1, 12, 32, 32, 45, 54, 67, 343]

In [ ]:
#16 Write a program to reverse a string
s=["pachora","jalgaon","kolgaon","bhadgaon"]
s.reverse()
print(s)

['bhadgaon', 'kolgaon', 'jalgaon', 'pachora']

In [ ]:
#17. Create a set of numbers and check if a specific number is present in the set
a=[1,2,3,4,5,6,7,8,9]
if 4 in a:
  print("element present")
else:
  print("element does not present")

element present

In [ ]:
#18. Write a program to find the union of two sets.
a={1,2,3,4,5,6,7,8,9}
b={8,9,10,11,12,1,3,14,}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [ ]:
#19. Write a program to find the intersection of two sets.
a={1,2,3,4,5,6,7,8}
b={8,10,11,12,14,15}
c=a.intersection(b)
print(c)

{8}

In [ ]:
#20. Create a function that returns the square of a given number.
def square(a):
  return a*a
print(square(5))

25

In [ ]:
 #21 Write a program to find the sum of all elements in a list.
a=[1,2,3,4,5]
x=0
for i in a:
  x+=i
print(x)

15

In [ ]:
#22 . Create a list of strings and concatenate all the strings into one.
s1=["a","b","c","d"]
s2=["e","f","g","h"]
s3=s1+s2
print(s3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
#23. Write a program to convert a tuple into a list.
t1=(1,2,3,4,5,6,7)
t1=list(t1)
print(t1)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#24 Create a program that takes two lists and returns their intersection
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]
l3=set(l1).intersection(set(l2))
print(list(l3))

[4, 5, 6]

In [ ]:
#25 Write a program to count the frequency of each character in a string.
s="snehal sinkar"
freq={}
for i in s:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

{'s': 2, 'n': 2, 'e': 1, 'h': 1, 'a': 2, 'l': 1, ' ': 1, 'i': 1, 'k': 1, 'r': 1}

In [ ]:
#26 Write a function to check if a number is positive, negative, or zero.
def check(a):
  if a>0:
    print("positive")
  elif a<0:
    print("negative")
  else:
    print("zero")
check(0)

zero

In [ ]:
#27 Create a dictionary with fruit names as keys and their colors as values
fruits={
    "apple":"red",
    "banana":"yellow",
    "kiwi":"green",
    "grapes":"black"
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'kiwi': 'green', 'grapes': 'black'}

In [ ]:
#28  Write a program to check if a string is a palindrome.
s=str(input("enter a string:"))
palindrome=[]
not_palindrome=[]
if a==a[::-1]:
  print(palindrome)
else:
  print(not palindrome)

enter a string:"SNEHAL"
True

In [ ]:
#29 Write a program to find the length of a list without using the `len()` function.
l1=["sneha",2,3,4,"kiru",6,7,8,9]
count=0
for i in l1:
  count+=1
print(count)

9

In [ ]:
#30  Write a function to convert a list of integers into a tuple.
l1=[1,2,3,4,5,67,7,8]
l1=tuple(l1)
print(l1)

(1, 2, 3, 4, 5, 67, 7, 8)

In [ ]:
#31. Create a program that generates a list of numbers from 1 to 20 using a loop.
a=[]
for i in range(1,21):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#32. Write a lambda function to find the square of a number.
a=lambda x:x*x
print(a(4))

16

In [ ]:
#33. Write a function to check if a number is prime
a=int(input("enter a number:"))
for i in range(2,a):
  if a%i==0:
    print("not prime")
    break
else:
  print("prime")

enter a number:4
not prime

In [ ]:
#34. Create a program to print the Fibonacci sequence up to a given number.
a=int(input("enter a number:"))
a=0
b=1
print(a)
print(b)
c=a+b
print(c)
a=b
b=c

enter a number:5
0
1
1

In [ ]:
#35 Write a program to sort a list of strings in alphabetical order
a=["snehal","apple","neha","kiwi","banana","chiku","d","melon"]
a.sort()
print(a)

['apple', 'banana', 'chiku', 'd', 'kiwi', 'melon', 'neha', 'snehal']

In [ ]:
#36. Create a set and add elements to it using a loop
s1={1,3,4,5,6,7,8}
for i in range(1,10):
  s1.add(i)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#37. Write a program to remove duplicates from a list
l1=[1,22,3,22,4,55,4,55,45,65]
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

[1, 22, 3, 4, 55, 45, 65]

In [ ]:
#38. Write a program to find the maximum and minimum elements in a dictionary
d={
    "snehal":99,
    "kiran":98,
    "gita":67,
    "rupali":45
}
print(max(d.values()))
print(min(d.values()))

99
45

In [ ]:
#39 Create a program that reverses a list of numbers
l=[1,2,3,4,5,6,7,8,9,0,10]
l.reverse()
print(l)

[10, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#40. Write a program to find the sum of even numbers from 1 to 50
a=0
for i in range(1,51):
  if i%2==0:
    a+=i
print(a)

650

In [ ]:
#41. Write a program to count the number of vowels in a string
a=str(input("enter a string:"))
count=0
for i in a:
  if i in "aeiouAEIOU":
    count+=1
print(count)

enter a string:a
1

In [ ]:
#42 Create a program that finds the second largest number in a list.
a=[11,22,32,34,56]
x=sorted(a)
print(a[-2])

34

In [ ]:
#43 Write a function to check if a given string is an anagram of another string
def are_anagram(a1,a2):
  return sorted(a1) == sorted(a2)
are_anagram("dusty","study")

True

In [ ]:
#44. Create a program that sorts a dictionary by its values.
x={"apple":"red","banana":"yellow","kiwi":"green"}
y=sorted(x.values())
print(y)

['green', 'red', 'yellow']

In [ ]:
#45 Write a program to remove all occurrences of a specified element from a list
a=[1,2,3,4,5,6]
a.remove(2)
print(a)

[1, 3, 4, 5, 6]

In [ ]:
#46 . Write a program to find the sum of digits of a given number.
a=int(input("enter a number:"))
x=0
for i in str(a):
  x+=int
print(x)

enter a number:11
2

In [ ]:
#47 Create a lambda function to check if a number is even or odd.
a=lambda x:"even" if x%2==0 else"odd"
print(a(14))

even

In [ ]:
#48 . Write a function to merge two dictionaries.
def merge(d1,d2):
  return d1.update(d2)

In [ ]:
#49 Create a list comprehension to generate squares of numbers from 1 to 10
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#50  Write a program to find the common elements between two lists.
l1=[1,2,3,4,5,6]
l2=[5,6,7,8,9]
l3=set(l1).intersection(set(l2))
print(list(l3))

[5, 6]

In [ ]:
#51 . Create a program to check if a list is empty
l1=[]
if len(l1)==0:
  print("list is empty")
else:
  print("list is not empty")

[]

In [ ]:
#52 . Write a program to find the cumulative sum of a list.
l1=[1,2,3,4,5,6,7,8,9]
x=0
for i in l1:
  x+=i
print(x)

45

In [ ]:
#53. Write a function to count the number of words in a string
a="snehal sinkar"
b=len(a)
print(b)

13

In [ ]:
#54. Create a program to find the longest word in a list of words.
a=["snehal","utkarsha","rameshwar","shrushti"]
b=max(a)
print(b)

utkarsha

In [ ]:
#55 Write a function that returns the first non-repeated character in a string.
x="snehal"
for i in x:
  if x.count(i)==1:
    print(i)
    break
else:
  print("no non-repeated character")

s

In [ ]:
#56. Create a program that checks if two sets are disjoint.
a={1,2,3,4}
b={5,6,7,8,9,10}
c=a.isdisjoint(b)
print(c)

True

In [ ]:
#57. Write a program to remove the nth occurrence of a word from a list
a={"snehal","apple","cherry","date","apple"}
a.remove("apple")
print(a)

{'date', 'snehal', 'cherry'}

In [ ]:
#58. Write a function to convert a list of tuples into a dictionary
a=[1,2,3,4,5,6]
b=tuple(a)
print(b)

(1, 2, 3, 4, 5, 6)

In [ ]:
#59 . Create a program that generates a list of even numbers using a loop and lambda function.
even_numbers = [x for x in range(1, 31) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
#60. Write a program to check if a tuple is empty.
t1=()
if len(t1)==0:
  print("tuple is empty")
else:
  print("tuple is not empty")

tuple is empty

In [ ]:
#61. Create a program to merge two lists without duplicates
l1=[1,2,3,4,5]
l2=[4,5,6,7,8,9,10]
l3=set(l1).union(set(l2))
print(list(l3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#62. Write a function to find the factorial of a number using recursion
def factorial(a):
  if a==0:
    return 1
  else:
    return a*factorial(a-1)
print(factorial(4))

24

In [ ]:
#63. Write a program to convert a string to lowercase without using built-in functions
a="PRANJAL"
b=""
for i in a:
  if ord(i)>=65 and ord(i)<=90:
    b+=chr(ord(i)+32)
  else:
    b+=i
print(b)

pranjal

In [ ]:
#64 . Create a program that finds the common keys in two dictionaries.
d1={
    "snehal":99,
    "kiran":98,
    "gita":67,
    "rupali":45
}
d2={
    "snehal":99,
    "kiran":98,
}
d3=set(d1.keys()).intersection(set(d2.keys()))
print(list(d3))

['kiran', 'snehal']

In [ ]:
#65 Write a program to find the sum of elements in a nested list
a=[[1,2,3],[4,3,2,1],[5,6,7,8,9,10]]
b=0
for i in a:
  for j in i:
    b+=j
print(b)

61

In [ ]:
#66 Create a function to find the index of an element in a list.
x=[1,2,3,4,5,6,7,8,9,10]
y=x.index(5)
print(y)

4

In [10]:
#67 Write a program to check if a number is a palindrome.
def palindrome  (s):
  if a==a[::-1]:
    print("this is palindrome",s)
  else:
    print("this is not palindrome",s)

In [ ]:
s='191'
palindrome(s)

this is not palindrome 191

In [ ]:
#68 Write a program to replace vowels in a string with a specified character.
x="snehal"
y=""
for i in x:
  if i in "aeiouAEIOU":
    y+="*"
  else:
    y+=i
print(y)

sn*h*l

In [ ]:
#69. Create a function to count the number of uppercase and lowercase letters in a string.
a="Snehal"
upper=0
lower=0
for i in a:
   if ord(i)>=65 and ord(i)<=90:
    upper+=1
   elif ord(i)>=97 and ord(i)<=122:
    lower+=1
print("upper letter",upper)
print("lower letter",lower)

upper letter 1
lower letter 5

In [ ]:
#70. Write a program to find the mode of a list of numbers.
def mode(a):
  count={}
  for i in a:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
      max_count=max(count.values())
      return x
x=[1,2,3,2,3,4,5,6,6,7]
print(mode(x))

[1, 2, 3, 2, 3, 4, 5, 6, 6, 7]

In [ ]:
#71. Create a lambda function to find the product of two numbers.
product=lambda x,y:x*y
x=2
y=4
print(product(2,4))

8

In [ ]:
#72. Write a program to create a new list with elements that are common to two given lists.
a=[1,2,3,4,5,6]
b=[5,6,7,8,9]
c=set(a).intersection(set(b))
print(list(c))

[5, 6]

In [ ]:
#73. Write a program to remove all the vowels from a string.
a="snehal"
b=""
for i in a:
  if i not in "aeiouAEIOU":
    b+=i
print(b)

snhl

In [ ]:
#74. Create a function to reverse a list of tuples.
a=[(11,22),(33,44),(55,66)]
a.reverse()
print(a)

[(55, 66), (33, 44), (11, 22)]

In [ ]:
#75. Write a program to create a dictionary from two lists.
a=["sneha","lavanya","kiran","neha"]
b=[1,2,3,4]
c=dict(zip(a,b))
print(c)

{'sneha': 1, 'lavanya': 2, 'kiran': 3, 'neha': 4}

In [ ]:
#76. Write a function to find the GCD (Greatest Common Divisor) of two numbers.
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(22,15))

1

In [ ]:
#77. Create a program to check if a string contains only digits.
a="4567890"
if a.isdigit():
  print("string contains only digits")
else:
  print("string does not contain only digits")

string contains only digits

In [ ]:
#78. Write a program to sort a list of tuples based on the second element.
a=[("a",22),("b",44),("c",66)]
a.sort(key=lambda x:[1])
print(a)

[('a', 22), ('b', 44), ('c', 66)]

In [ ]:
#79. Create a function to check if a list of numbers is sorted in ascending order
x=[1,2,3,4,5,6,7,8,9]
if x==sorted(x):
  print("list is sorted ascending order")
else:
  print("list is not sorted ascending order")

list is sorted ascending order

In [ ]:
#80 Write a program to split a list into two parts, where the first part contains even numbers and the second part contains odd numbers
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even=[]
odd=[]
for i in a:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14]
[1, 3, 5, 7, 9, 11, 13, 15]